<div class="card-container">
    <div class="example-container">
        <h2>Could Do </h2>
        <div>
            <mat-form-field appearance="outline" [style.width.%]="100">
                <mat-label>New task</mat-label>
                <input matInput placeholder="Enter task title" [(ngModel)]="couldDoTask.name">
                <mat-icon matSuffix (click)="addTask(couldDoTask, 'could')" style="cursor: pointer;">add_box</mat-icon>
            </mat-form-field>
        </div>
        <div cdkDropList #couldList="cdkDropList" [cdkDropListData]="could"
            [cdkDropListConnectedTo]="[shouldList, mustList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of could" cdkDrag>
                <mat-checkbox [(ngModel)]="item.completed" [color]="item.color"> {{item.name}} </mat-checkbox>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>Should Do</h2>
        <div>
            <mat-form-field appearance="outline" [style.width.%]="100">
                <mat-label>New task</mat-label>
                <input matInput placeholder="Enter task title" [(ngModel)]="shouldDoTask.name">
                <mat-icon matSuffix (click)="addTask(shouldDoTask, 'should')" style="cursor: pointer;">add_box</mat-icon>
            </mat-form-field>
        </div>
        <div cdkDropList #shouldList="cdkDropList" [cdkDropListData]="should"
            [cdkDropListConnectedTo]="[couldList, mustList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of should" cdkDrag>
                <mat-checkbox [(ngModel)]="item.completed" [color]="item.color"> {{item.name}} </mat-checkbox>
                <!-- <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                    <mat-icon>bin</mat-icon>
                  </button> -->
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>Must Do</h2>
        <div>
            <mat-form-field appearance="outline" [style.width.%]="100">
                <mat-label>New task</mat-label>
                <input matInput placeholder="Enter task title" [(ngModel)]="mustDoTask.name">
                <mat-icon matSuffix (click)="addTask(mustDoTask, 'must')" style="cursor: pointer;">add_box</mat-icon>
            </mat-form-field>
        </div>
        <div cdkDropList #mustList="cdkDropList" [cdkDropListData]="must"
            [cdkDropListConnectedTo]="[couldList, shouldList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of must" cdkDrag>
                <mat-checkbox [(ngModel)]="item.completed" [color]="item.color"> {{item.name}} </mat-checkbox>
            </div>
        </div>
    </div>

</div>